[Desktop Entry]
Type=Application
Version=1.0
Name=Setup Manjaro ARM Linux
GenericName=OEM Setup
Comment=Finish the Manjaro ARM installation
Exec=sed -i s/Dark/Light/g /home/oem/.config/Kvantum/kvantum.kvconfig && sudo -E calamares
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
