#  This file is part of calamares-oem.
#

[Unit]
Description=Delete OEM user
After=multi-user.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/resize-fs && /usr/bin/userdel -f -r oem && systemctl disable cleanupoem.service
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
