#  This file is part of calamares-oem.
#

[Unit]
Description=Delete OEM user
After=final.target

[Service]
Type=oneshot
ExecStart=/usr/bin/resize-fs
ExecStart=/usr/bin/userdel -f -r oem
ExecStart=/usr/bin/rm /etc/systemd/system/multi-user.target.wants/cleanupoem.service
RemainAfterExit=yes

[Install]
WantedBy=final.target
